@import "tailwindcss";

@theme {
  --color-primary: #ffbf47;
  --color-background-light: #f8f7f5;
  --color-background-dark: #231c0f;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 font-display antialiased;
  }
}